<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppLaMejor.Properties.Settings.ConnStringLaMejor"
            connectionString="Dsn=localhost lamejor" providerName="System.Data.Odbc" />
        <add name="AppLaMejor.Properties.Settings.ConnectionString" connectionString="Dsn=Mysql DataSource;uid=root"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>